.header {
  padding: 1rem;
  position: fixed;
  bottom: 0;
  background: #9896f1;
  width: 100vw;
  z-index: 100;
  display: flex;
  justify-content: space-between;
}

#home_icon {
  transition: all 1s;
  border: 2px solid #fff;
  height: 60px;
  width: 60px;
}

#home_icon:hover {
  transform: scale(1.1);
}

#site_name {
  display: none;
}

@media (min-width: 768px) {
  #site_name {
    display: inline;
  }
}
